
/* Timeline */


  .timeline-centered .timeline-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left;
  }
  .timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-2 {
    background: brown;
    color: white;
  }
  .timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-3 {
    background: #f9bf3f;
  }
  .timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-4 {
    background: #a84cb8;
  }
  .timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-5 {
    background: #2fa499;
  }
  .timeline-centered
  .timeline-entry
  .timeline-entry-inner
  .timeline-icon.color-none {
    background: #fff;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #70A9A1; /*linear-gradient(135deg, rgb(255, 221, 153), rgb(249, 191, 63));*** timeline work experience ****/
    color: #F6F1D1; /* timeline color font*/
    padding: 1.5em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 10px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 0px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-sublabel {
    font-weight: 600;
    margin: 0 0px 5px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label .timeline-text {
    margin-bottom: 0px;
    font-size: 13px;
    color: #F6F1D1;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label div {
    margin-top: 5px;
  }

  .timeline-centered,
  .timeline-entry,
  .timeline-entry-inner,
  .timeline-label,
  .h2,
  .span {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    font-size: 16px;
  }


  .colorlib-experience,
  .colorlib-skills,
  .colorlib-profile,
  .colorlib-projects,
  .colorlib-education,
  .colorlib-blogs,
  .colorlib-work,
  .colorlib-about,
  .colorlib-installation,
  .colorlib-services,
  .colorlib-footer,
  .colorlib-contact {
    padding-top: 3em;
    padding-bottom: 0em;
    clear: both;
    width: 100%;
    display: block;
    color: #F6F1D1;
  }

  .colorlib-narrow-content {
    padding: 0 4.5em;
  }

  .about-desc h3 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;

  }

  .about-desc h4 {
    color: #F6F1D1;
  }

  .about-desc h1 {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
    font-family: "Montserrat", Georgia, serif;
    color: #F6F1D1;
  }
